/* ----------------------------- check in styles ---------------------------- */

.hide{
    display: none;
}

/* ------------------------- Ultimos botoes da linha ------------------------ */

.details,
.message {
  padding: 12px 12px;
  align-items: center;
}



/* ------------------------------ Covid styles ------------------------------ */

.red-text {
  color: #DE2B13;
}

.green-text {
  color: #06A689;
}

/* --------------------------------- Botoes --------------------------------- */

.cancel-td{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cancel-td p{
  color: #A1ACB1 ;
  font-size: 16px;

}

.cancelar-round-btn{
  background-color: #A1ACB1;
  border-radius: 50%;
}