/* ----------------------------- check in styles ---------------------------- */

.hide{
    display: none;
}

/* ------------------------- Ultimos botoes da linha ------------------------ */

.details,
.message {
  padding: 12px 12px;
  align-items: center;
}

/* ------------------------------ Covid styles ------------------------------ */

.red-text {
  color: #DE2B13;
}

.green-text {
  color: #06A689;
}


