/* ----------------------------- check in styles ---------------------------- */

.hide{
    display: none;
}

/* ------------------------- Ultimos botoes da linha ------------------------ */

.details,
.message {
  padding: 12px 12px;
  align-items: center;
}

/* ------------------------------ Covid styles ------------------------------ */

.red-text {
  color: #DE2B13;
}

.green-text {
  color: #06A689;
}


.delete-appointment{
  width: 100%;
}  dialog {
  border: none;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* ------------------------------- date styles ------------------------------ */

.date-cell{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

