table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  background-color: white;
  z-index: 100;
}

table th {
  text-align: left;
}

th {
  padding: 20px 0px;
}

thead th:nth-child(1) {
  padding-left: 27px;
}

thead th:nth-child(2) {
  padding-left: 27px;
}

thead th:nth-child(6) {
  padding-left: 27px;
}

tr {
  border-bottom: solid 1px #e2eaec;
}

tr:first-child {
  border-top: none;
}

tbody th:nth-child(1) {
  padding-left: 27px;
}

.table-header {
  display: flex;
  align-items: center;
}

.header-container {
  align-items: right;
  margin-left: auto;
}

.header-menu {
  display: flex;
  gap: 30px;
  padding-right: 26px;
  position: relative;
}

.small-menu-container {
  position: absolute;
  z-index: 101;
  margin-top: 14px;
}

.menu {
  background-color: #f7f8fc;
  display: flex;
  border-radius: 50px;
  padding: 6px 8.6px 4px 16px;
  gap: 45px;
  cursor: pointer;
}

.input-section {
  display: flex;
  justify-content: center;
}

.search-container {
  width: 160px;
  height: 34px;
  background-color: #f7f8fc;
  display: flex;
  border-radius: 50px;
  align-items: center;
}

.search-input {
  width: 110px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  padding: 6px 6px 4px 16px;
}

.search-icon {
  width: 14px;
  height: 14px;
}

.united {
  display: flex;
  gap: 5px;
}

.covid {
  color: #de2b13;
}

.no-covid {
  color: #06a689;
}

.actions {
  max-width: 120px;
}

.buttons {
  display: flex;
  padding-right: 6px;
  align-items: center;
  justify-content: center;
  top: 20px;
}

.call-blue {
  color: #3783f5;
  background-color: rgba(55, 131, 245, 0.07);
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.call-blue:hover {
  background-color: #1e63d8;
  color: #fff;
}

.call-green {
  color: #06a689;
  background-color: rgba(6, 166, 137, 0.07);
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  margin-left: 18px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.call-green:hover {
  color: #1e824c;
  background-color: #abebc6;
}

.details {
  color: #06a689;
  background-color: rgba(6, 166, 137, 0.07);
  border: none;
  padding: 11px;
  border-radius: 10px;
  margin-right: 18px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.details:hover {
  color: #1e824c;
  background-color: #abebc6;
}

.message {
  background-color: rgba(55, 131, 245, 7%);
  border: none;
  padding: 11px;
  border-radius: 10px;
  color: #3783f5;
  transition: background-color 0.3s ease;
}

.message:hover {
  background-color: rgba(55, 131, 245, 0.2);
}

.img {
  height: 22px;
}

.expand {
  box-sizing: border-box;
  margin-left: 10px;
}

.patient-list-container {
  height: 450px;
  overflow: auto;
}

.patient-list-container::-webkit-scrollbar {
  width: 10px;
}

.patient-list-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.patient-list-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 1px solid #f1f1f1;
}

.patient-list-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.data {
  color: #3783f5;
}

.counter {
  padding: 34px 0px 13px 26px;
}

.center {
  display: flex;
  align-items: center;
  height: 85px;
}

.border {
  border-radius: 0px 0px 10px 10px;
  border-bottom: none;
  box-shadow: 0px 4px 4px 0px rgba(100, 100, 100, 0.12);
}

.bold {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (max-width: 1758px) {
  thead th:nth-child(5) {
    width: 200px;
  }

  thead th:nth-child(6) {
    width: 200px;
  }
}

@media screen and (max-width: 1540px) {
  thead th:nth-child(5) {
    width: 190px;
  }

  thead th:nth-child(6) {
    width: 100px;
  }
}

@media screen and (max-width: 1435px) {
  thead th:nth-child(1) {
    width: 250px;
  }

  thead th:nth-child(2) {
    width: 250px;
  }
}

@media screen and (max-width: 1190px) {
  thead th:nth-child(1) {
    width: 150px;
  }

  .list {
    padding-left: 13px;
  }

  thead {
    font-size: 13px !important;
  }

  table {
    font-size: 12px !important;
  }

  button {
    font-size: 12px !important;
  }

  .counter {
    font-size: 13px !important;
  }

  .menu p {
    font-size: 12px !important;
  }

  .menu {
    background-color: #f7f8fc;
    display: flex;
    border-radius: 10px;
    padding: 2px 2px 3px 3px;
    gap: 2px;
    cursor: pointer;
  }

  .details,
  .message {
    padding: 3px 3px;
    align-items: center;
  }

  .call-blue,
  .call-green {
    padding: 3px 3px;
  }

  .united img,
  .type img {
    display: none;
  }

  thead th:nth-child(2) {
    width: 150px;
  }
}

@media screen and (min-height: 831px) and (max-height: 1000px) {
  .patient-list-container {
    height: 630px;
  }
}

@media screen and (min-height: 1000px) {
  .patient-list-container {
    height: 1000px;
  }
}
