/* -------------------------------- Container ------------------------------- */

/* content acima da tabela */
.section-header {
  display: flex;
  align-items: center;
  margin-right: 30px;
  justify-content: space-between;
  cursor: default;
  width: 100%;
}

/* card branco onde ficam as tabelas  */

.card-section {
  margin-top: 21px;
  background: #fff;
  box-shadow: 0px 2px 13px rgba(32, 47, 61, 0.13);
  border-radius: 10px;
  overflow: hidden;
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* ---------------------------- Fim de Container ---------------------------- */

/* --------------------------- Div acima da tabela -------------------------- */

.table-header {
  display: flex;
  align-items: center;
}

.header-container {
  align-items: right;
  margin-left: auto;
}

/* -------------------- Menu de filtragem dentro da card -------------------- */

.header-menu {
  display: flex;
  gap: 30px;
  padding-right: 26px;
  position: relative;
}

.menu {
  background-color: #f7f8fc;
  display: flex;
  border-radius: 50px;
  padding: 6px 8.6px 4px 16px;
  gap: 45px;
  cursor: pointer;
}

.search-container {
  width: 160px;
  height: 34px;
  background-color: #f7f8fc;
  display: flex;
  border-radius: 50px;
  align-items: center !important;
}

@media screen and (max-width: 950px) {
  .menu p {
    font-size: 12px !important;
  }

  .menu {
    background-color: #f7f8fc;
    display: flex;
    border-radius: 10px;
    padding: 2px 2px 3px 3px;
    gap: 2px;
    cursor: pointer;
    align-items: center;
  }
}
